.homepage{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 300px;
}

textarea {
    border-radius: 10px;
}

button, #imgInvio {
    border-radius: 10px;
    height: 35px;
    width: 35px;
    padding: 0px;
}

#imgInvio{
    border-radius: 0px;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 10px;
}


#prompt-form {
    background-color: #d8c7fa;
    padding: 15px;
    width: fit-content;
    border-radius: 15px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title{
    text-align: center;
    font-weight: bold;
}

.centered{
    text-align: center;
    
}

#pInfo {
    text-align: center;
    font-weight: bold;
}

.divRisposta{
    width: 70%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    text-align: justify;
    background-color: #d8c7fa;
}

.big-container{
    field-sizing: content;
    min-width: 150px;
    max-width: 1000px;
    font-size: 1rem;
    padding: 8px 12px;
    resize: none;
    overflow: hidden;
}

.elaboration-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


