.homepage{
    background-color: azure;
}

.title{
    text-align: center;
    font-weight: bold;
}

.centered{
    text-align: center;
    
}

.justified{
    text-align: justify;
}

.big-container{
    field-sizing: content;
    min-width: 150px;
    max-width: 1000px;
    font-size: 1rem;
    padding: 8px 12px;
    resize: none;
    overflow: hidden;
}


